<section class="profile">
  <section class="profile_info">

    <% if @user.avatar.attached? %>
     <figure class="image avatar_image">
      <%= image_tag(@user.avatar) %>
     </figure>
    <% end %>

    <div class="card">

      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <h1><%= @user.name %></h1>
            <p><%= @user.surname %></p>
            <p><%= @user.department %></p>
          </div>
        </div>

        <div class="content">
          <%= link_to 'Edite seu perfil', edit_user_registration_path if current_user == @user %>
        </div>
      </div>
    </div>
    <p>Apenas usuários com o perfil completo podem comprar ou vender</p>

    <% unless current_user.reported?(@user) %>
      <%= link_to 'denunciar usuário', new_user_report_path(@user) unless @user == current_user %>
    <% end %>

  </section>

  <section class="profile_user_products">
    <h1>Lista de produtos</h1>
    <% @user.products.each do |product| %>
     <div class='profile_product'>
      <h2><%= product.name %></h2>
      <% if product.available? %>
        <%= link_to 'Suspender venda', suspend_product_path(product), method: :put %>
      <% else %>
        <%= link_to 'Ativar venda', activate_product_path(product), method: :put unless product.disabled?%>
      <% end %>
     </div>
    <% end %>
  </section>
</section>


