<section class="profile">
    <h1>Seu Perfil</h1>
    <p>Apenas usuários com o perfil completo podem comprar ou vender</p>
  <section class="profile_info">
    <div class="card">
      <div class="card-image">
        <!-- <figure class="image is&#45;4by3"> -->
        <!-- </figure> -->
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-content">
            <%= @user.name %>
            <%= @user.surname %>
            <%= @user.department %>
          </div>
        </div>

        <div class="content">
          <%= link_to 'Edite seu perfil', edit_user_registration_path %>
        </div>
      </div>
    </div>

  </section>

  <section class="profile_user_products">
    <h1>Lista de produtos</h1>
    <% @user.products.each do |product| %>
      <p><%= product.name %></p>
      <% if product.available? %>
        <%= link_to 'Suspender venda', suspend_product_path(product), method: :put %>
      <% else %>
        <%= link_to 'Ativar venda', activate_product_path(product), method: :put %>
      <% end %>
    <% end %>
  </section>
</section>


