<%= form_with(model: @product, local: true) do |form| %>
  <% if @product.errors.any? %>
    <% @product.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  <% end %>

  <p>
    <%= form.label :image, 'Imagem' %>
    <%= form.file_field :image, class: 'input' %>
  </p>

  <p>
    <%= form.label :name, 'Nome' %>
    <%= form.text_field :name, class: 'input' %>
  </p>

  <p>
    <%= form.label :description, 'Descrição' %>
    <%= form.text_area :description , class: 'input'%>
  </p>

  <p>
    <%= form.label :price, 'Preço' %>
    <%= form.number_field :price, min: 0, class: 'input' %>
  </p>

  <p>
    <%= form.label :category_id, 'Categorias' %>
    <%= form.collection_select(:category_id, Category.all, :id, :name,{}, {class: 'select'}) %>
  </p>

  <p>
    <%= form.submit 'Enviar', class: 'button is-primary'%>
  </p>
<% end %>
