<section class="products_container" %>

<%= render 'layouts/shared/search_form' %>

<div class="products_header">
  <h1>Produtos a venda</h1>
</div>

<% if @products.none? %>
  <p>Nenhum produto cadastrado no momento</p>
<% end %>

<% @products.each do |product| %>
<div class="card">
  <div class="card-image">
    <figure class="image is-4by3">
      <% if product.image.attached? %>
        <%= image_tag(product.image) %>
      <% end %>
    </figure>
  </div>
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p><%= link_to product.name, product, class: 'title is-4' %></p>
      </div>
    </div>

    <div class="content">
      <%= link_to 'Saiba mais', product, class: 'button is-link' %>

    <% unless product.user == current_user%>
      <% if current_user.favorite?(product) %>
        <%= link_to 'Desfavorite', favorite_path(product.id), method: :delete %>
      <% else %>
        <%= link_to 'Favorite', favorites_path(product_id: product.id), method: :post %>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
<% end %>

</section>

<section class="categories">
  <h2>Categorias</h2>
  <% @categories.each do |category| %>
    <%= link_to category.name, category %>
  <% end %>
</section>
