<section class="product_show" %>
  <section class="product_show_info">
    <h1><%= @product.name %></h1>
    <span>Vendido por: <%= link_to @product.user.name, profile_path(@product.user) %> </span>
    <p><%= @product.description %></p>
    <%= link_to 'Comprar', product_orders_path(@product.id), method: :post unless @product.user == current_user %>
    <% if @product.user == current_user %>
      <%= link_to 'Editar produto', edit_product_path(@product) %>
    <% end %>
  </section>

 <section class="product_show_image">
  <% if @product.image.attached? %>
    <figure class="image is-square">
      <%= image_tag(@product.image) %>
    </figure>
  <% end %>
 </section>

 <%= link_to 'Voltar', root_path %>

 <section class="product_show_questions">
   <h2>Comentários</h2>
   <%= render partial: 'comments/form', locals: {commentable: @product} %>
   <%= render partial: 'comments/comment', collection: @product.comments, as: :commentable %>
 </section>
</section>
